{% extends 'base.html.twig' %}

{% block title %}Réinitiliser mot de passe
{% endblock %}

{% block body %}
	<h1>Réinitialiser mot de passe</h1>

	{{ form_start(resetForm) }}
	{{ form_row(resetForm.plainPassword) }}
	<button class="btn btn-primary">Réinitialiser mot de passe</button>
	{{ form_end(resetForm) }}
{% endblock %}
