{% extends 'base.html.twig' %}
{% block title %}A propos{% endblock %}
{% block body %}
<h1 class="text-center" style="font-family: 'Grand Hotel', cursive;">{{title}}</h1>

<h1 style="font-family: 'Grand Hotel', cursive;" class="text-center">Le micro-ondes, fidèle allié en cuisine</h1>
    <p class="text-justify mt-3">
    Présent dans la plupart des cuisines depuis les années 80, le four à micro-ondes est devenu incontournable, bien qu'il ne serve souvent qu'à réchauffer ou décongeler les plats. Son fonctionnemeent est rapide, son principe est simple: contrairement à la cuisson au four traditionnel, les aliments cuisent de l'extérieur vers l'intérieur. La chaleur est produite par agitation moléculaire dans les aliments, car les ondes afessent sur les molécules d'eau.<br>
    Parfois sujet à polémiques , ce petit four à pourtant plus de qualités qu'il n'y paraît car il porpose avant tout un mode de cuisson performant, qui respect la saveur des mets et autorise une cuisine légère. Petit mais costaud, ingénieux et redoutablement efficace, le micro-ondes est un moyen économique de cuisiner facilement: les temps de cuisson sont plus faibles que ceux d'un four traditionnel et il est moins energivore. A condition de respecter le mode d'emploi et de maîtriser son appareil, il est tout à fait possible de préparer des repas uniquement avec un four à micro-ondes!
    Il pourrait même devenir un fidèle allié en cuisine pour préparer facilement des menus savoureux et complets, en un temps record: lieu au cidre, blancs de poulet à l'orange, polenta aux épinard, mousse moka... Il saura également venir à la rescoussse pour faciliter certaines préparations de base comme le caramel, les compotes, les confitures ou encore les sauces.<br>
    Domptez les multiples capacités du four à micro-ondes et laissez-vous séduire par de multiples recettes, faciles et économiques ! 
    </p>
<h1 style="font-family: 'Grand Hotel', cursive;" class="text-center">Recommandation de cuisson</h1>
    <p class="text-justify">
    Les temps de cuisson au micro-ondes restent approximatifs, car la contenance du four, le poids des aliments ou encore la forme et la matière du plat utilisé entrent en jeu! Si votre micro-ondes est équipé d'un variateur, privilégiez les puissances plus faibles pour une cuisson homogène. Il est conseillé de toujours tester la température des aliments avant ingestion: en effet, le plat peut être tiède mais lecontenu brûlant. De plus, les aliments continuent de cuire après la cuisson. De ce fait, il faut la vérifier 5 minutes après la sortie du four.<br>
    Il est impératif d'apprivoiser son four en commençant par des temps de cuisson faibles et en vérifiant régulièrement son plat. Séquencer la duirée de cuisson par courtes périodes de 30 secondes peut faciliter cet apprentissage. En outre, mélanger les aliments au cours de leur cuisson permet de s'assurer une cuisson parfaitement homogène. De la même façon, comme les molécules d'eau des aliments vont chauffer, il est préférable de couvrir les plats avec du film alimentaire adapté ou d'utiliser une cocotte spéciale. Vous économiserez du temps, car la chaleur produite sera retenue dans le récipient.
    Attention, tous les matériaux ne sont toutefois pas adaptés au micro-ondes! Privilégiez les contenants en céramique, en porcelaine, en verre et en silicone spécial micro-ondes. Les récipients métalliques, le papier d'aluminium et les couverts en Inox ou en métal sont à proscrire. En effet, le métal réagit aux ondes, créant des décharges électriques et des étincelles.<br>
    Certains aliments à coquille comme les oeufs ne doivent pas cuire au micro-ondes, car ils exploseraient. De façon générale, piquez toujours les aliments ayant une membrane ou une peau afin que la vapeur puisse s'échapper. Sinon, ils risqueraient d'éclater.
    </p>
{% endblock %}